# server port cfg
server:
  port: 8081
# Datasource cfg
spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/sampleProduct
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
# JPA cfg
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
  application:
    name: PRODUCT-SERVICE
#Config server
  config:
    import: configserver:http://localhost:9296
# eureka cfg
#eureka:
#  client:
#    register-with-eureka: true
#    fetch-registry: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka
#  instance:
#    prefer-ip-address: true
